
 .cajaGrande{
 
        border-radius: 30px;
        box-shadow: 0 1rem 1rem rgba(244, 197, 228, 0.967);
        margin: 1rem;
        overflow:hidden;
        width: 50rem;
        backdrop-filter: blur(1rem);
        background-color: rgba(50, 48, 49, 0.733);
        border: .1rem solid #dd429d57;
        color:rgba(22, 218, 22, 0.959); 
        justify-content: center;
        
        
    }   
    


 .titulo {
    font-family: "Sweater Weather";
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    display:flex;
    color:white;
    font-size:25px;
    top: 10px;
    margin-left: 5px;


    
}
 
 
 
 .input-form{
    height: 30px;
    width: 80px;
    backdrop-filter: blur(1rem);
    border: .1rem solid  #f17fc2ee;
    border-radius: 10px;
    margin-right: 20px;
    background-color: transparent;
    color:white;
    letter-spacing: 2px;
    margin: 5px;
    padding-left: 10px;
    margin-left: 18px;
}
 .input-name{
    height: 30px;
    width: 300px;
    backdrop-filter: blur(1rem);
    border: .1rem solid  #f17fc2ee;
    border-radius: 10px;
    margin-right: 20px;
    background-color: transparent;
    color:white;
    letter-spacing: 2px;
    margin: 5px;
    padding-left: 10px;
    
}

 .carta{
    height: 800px;
    width: 500px;
    backdrop-filter: blur(1rem);
    border: 1px  solid  #f17fc2ee;
    border-radius: 5px;
    margin-right: 20px; 
    box-shadow: 0 1px 1rem #f4c4e0d6;
    margin-left: 20%;
    padding: 30px;
    margin-bottom: 20px;
    margin-top: 50px;
  
}
 .texto{
    color: white;
    font-size:20px;
}
.error{
    color:rgba(239, 72, 214, 0.512);
    font-size: 13px;
}

.temps-div{
    padding-right: 30px;
    color: white;
    font-size:20px; 
    
}

.submit-form{
    backdrop-filter: blur(1rem);
    border-radius: 10px;
    box-shadow: 0 1px 1rem #f0bedb85;
    cursor: pointer;
    overflow: hidden;
    width: 200px;
    height: 30px;
    background-color: transparent;
    border:  .1rem solid  #f17fc2ee;
    color: black;
    margin: 65px;
    letter-spacing: 2px;
    margin-left: 120px;
    margin-top: 2px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
}
.submit-form:hover{
    background-color:#f0bedb85 ;
    color: black;
}
.lifeSpan{
    padding-right: 20px;
    color: white;
    font-size:20px;
}
.input-form-lifeSpan{
   
    height: 30px;
    width: 80px;
    backdrop-filter: blur(1rem);
    border:  .1rem solid  #f17fc2ee ;
    border-radius: 10px;
    background-color:transparent;
    color:white;
    letter-spacing:2px;
    margin: 5px;
    padding-left: 10px;
    margin-left: 18px;
}

.select-form{
    border-radius: 10px;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);
    cursor: pointer;
    backdrop-filter: blur(1rem);
    overflow: hidden;
    width: 220px;
    height: 30px;
    background-color: transparent;
    border: .1rem solid  #f17fc2ee ;
    color: rgb(252, 249, 249);
    margin: .5rem;
    letter-spacing: 2px;
    margin-left: -30px;
    text-align: center; 
 
}

 .list{
    background-color: rgba(238, 105, 202, 0.281);
    width: 100%;
    padding: 5px;
    height: 50px;
    box-shadow: 0 1px 1rem #000000f6;
    margin: 3px;
    
} 
.select-form:hover{
    background-color: #f0bedb85;
    color: rgb(31, 29, 29);
}
.submit-button{
    background-color: transparent;
    color: white;
    letter-spacing: 2px;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    padding-top: 2px;
    
}
.submit-button:hover{
    color: white;
}


.button-back{
    border-radius: 10px;
    box-shadow: 0 1px 1rem #f0bedb85;
    cursor: pointer;
    width: 120px;
    height: 30px;
    backdrop-filter: blur(1rem);
    background-color: rgba(248, 16, 16, 0.384);
    border: .1rem solid  #f17fc2ee ;
    color: rgb(248, 239, 239);
    margin-top:0px;
    letter-spacing: 2px;
    margin-left: 320px;
    text-align: center;
    font-size: 17px;
    
}
.button-back:hover{
    background-color: #f0bedb85 ;
    color: white;
}


.button{
   color:rgba(244, 26, 200, 0.63);
   background-color: rgba(193, 121, 181, 0.178);
   border-radius: 10px;
   padding: 6px;
}
.button:hover {
    color:black;
    background-color: rgba(156, 152, 152, 0.473);
}
 .x-button{
    font-size:15px;
    color: rgb(249, 246, 246);
    letter-spacing: 2px;
    
    
} 

 